<!--
  Step 1: The form must be sharable between the new and edit views.
-->
<form action="<%= (typeof actionPath === 'undefined') ? '/climbingroutes' : actionPath  %>" , method="POST">
  <%= console.log(JSON.stringify(formData, null, 2))%>

  <div class="form-group">
    <% if(typeof actionPath !== 'undefined') { %>
    <input type="hidden" name="id" value="<%= formData.id %>">
    <% } %>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" value="<%= formData.name%>">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" name="location" class="form-control" value="<%= formData.location%>">
  </div>

  <div class="form-group">
    <label for="review">Review</label>
    <input type="range" class="form-control-range" id="review" value="<%= formData.review%>">
  </div>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input type="text" name="difficulty" class="form-control" value="<%= formData.difficulty%>">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control summernote" value="<%= formData.description%>">
              <%= formData.description%>
    </textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-dark">Submit</button>
  </div>
</form>