<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->

<%- include ('../partials/header') %>

<div class="container my-5">

  <header>
    <h1><%= climbingroute.location %> <%= climbingroute.color %> <%= climbingroute.difficulty %></h1>
    <small><%= climbingroute.updatedAt.toLocaleString("en-CA") %></small>
  </header>

  <hr>

  <body class="description">    
    <p>Review: <%- climbingroute.review %></p>
    <p>Description: <%- climbingroute.description %></p>
    
    
  </body>

</div>

<%- include ('../partials/footer') %>